<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phase66.camcover"
        versionCode="10" 
        version   = "1.0.0">

    <name>CamCover</name>

    <description>
        Pervs everywhere! 
    </description>

    <author email="phase6666@gmail.com">
        Richard Ross
    </author>

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <access origin="*" />

    </widget>